body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #141414;
}
.app-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #E50914;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.signup-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 40px;
  background-color: #000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(229, 9, 20, 0.3);
  color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 500;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 400;
  color: #fff;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
}

.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input input {
  flex: 1;
  padding-right: 40px; /* room for icon */
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #E50914; /* Netflix red */
  font-size: 20px;
  user-select: none;
  transition: transform 0.2s ease;
}

.password-toggle-icon:hover {
  transform: scale(1.2);
}


.toggle-btn {
  margin-left: 10px;
  padding: 10px;
  font-size: 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #E50914;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.signup-btn:hover {
  background-color: #f40612;
}

.error, .success {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.error {
  color: #e87c03;
}

.success {
  color: #46d369;
}

@media screen and (max-width: 480px) {
  .signup-container {
    margin: 50px 20px;
    padding: 30px;
  }
}
